# PROG8245-25S-Sec1 Lab 3
Erica Holden, 5490685

In [ ]:
%pip install pandas psycopg2 seaborn matplotlib faker

In [ ]:
import random
from faker import Faker
import datetime

import pandas as pd
import psycopg2
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
class Lab3:
    def __init__(self):
        self.conn_str = "postgresql://neondb_owner:npg_WSpuZFCo8K6n@ep-lucky-block-a5dsr90p-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"
    
    def generateEmployeeData(): 
        """ Generate employee data with random names, positions, start dates, and salaries """
        fake = Faker()
        positions = ['Software Engineer', 'Data Analyst', 'DevOps Engineer', 'ML Engineer', 'QA Engineer', 'Backend Developer', 'Frontend Developer', 'Cloud Architect', 'SysAdmin', 'Data Scientist']
        for i in range(50):
            name = fake.name().replace("'", "''") # Escape single quotes for SQL
            position = random.choice(positions)
            start=datetime.date(2015, 1, 1)
            end=datetime.date(2024, 6, 1)
            start_date = fake.date_between(start_date=start, end_date=end)
            salary = random.randint(60000, 200000)
            print(f"INSERT INTO employees (name, position, start_date, salary) VALUES('{name}', '{position}', '{start_date}', {salary});")

    def generateProjectData(self):
        """ Generate project data with random department IDs, start and end dates, and employee IDs """
        fake = Faker()
        department_ids = [1, 2, 3, 4, 5]
        for i in range(20):
            department_id = int(random.choice(department_ids))
            start=datetime.date(2015, 1, 1)
            end=datetime.date(2017, 6, 1)
            start_date = fake.date_between(start_date=start, end_date=end)
            start=datetime.date(2017, 12, 1)
            end=datetime.date(2020, 6, 1)
            end_date = fake.date_between(start_date=start, end_date=end)
            employee_id = random.randint(1, 50)
            print(f"INSERT INTO projects (department_id, start_date, end_date, employee_id) VALUES('{department_id}', '{start_date}', '{end_date}', {employee_id});")
        
        
    def loadEmployeeDataToDataframe(self):
        """ Load employee data from the database into a dataframe """
        conn = psycopg2.connect(self.conn_str)
        df = pd.read_sql_query("SELECT * FROM employees;", conn)
        conn.close()
        return df
    
    def loadProjectDataToDataframe(self):
        """ Load project data from the database into a dataframe """
        conn = psycopg2.connect(self.conn_str)
        df = pd.read_sql_query("SELECT * FROM projects;", conn)
        conn.close()
        return df
    
    def removeNullValues(self, df):
        """ Remove rows with null values """
        df = df.dropna()
        return df
    
    def mergeAndCorrectData(self, employee_df, project_df):
        """ Merge and return employee & project dataframes, ensuring that the employee's start date is before or equal to the project's start date """
        merged_df = pd.merge(employee_df, project_df, left_on='employee_id', right_on='employee_id', how='inner')
        merged_df['employee_start_date'] = pd.to_datetime(merged_df['start_date_x'])
        merged_df['project_start_date'] = pd.to_datetime(merged_df['start_date_y'])
        # Keep only rows where employee's start_date is before or equal to project's start_date
        merged_df = merged_df[merged_df['employee_start_date'] <= merged_df['project_start_date']]
        # Remove unnecessary columns, start_date_x is now employee_start_date, and start_date_y is now project_start_date
        merged_df = merged_df.drop(columns=['start_date_x', 'start_date_y'])
        return merged_df


    def plotFirstVisualization(self, df):
        """ Plot the average salary by position and start year """
        df_modified = df.copy()
        df_modified['start_year'] = pd.to_datetime(df['start_date']).dt.year
        df_modified.groupby(['position', 'start_year']).mean('salary')
        sns.barplot(data=df_modified, x='position', y='salary', hue='start_year')
        plt.xticks(rotation=90)
        plt.title('Average Salary by Position and Start Year')
        plt.show()

    def plotSecondVisualization(self, df):
        """ Plot the distribution of projects per employee """
        emp_counts = df['employee_id'].value_counts()
        sns.histplot(emp_counts, bins=10)
        plt.xlabel('Number of Projects per Employee')
        plt.title('Distribution of Projects per Employee')
        plt.show()

In [ ]:
lab3 = Lab3()
employeeDf = lab3.loadEmployeeDataToDataframe()

## 1. Data Collection

The employee data was generated in a script which is demonstrated above as the generateEmployeeData method of the Lab3 class. The departments table was created manually - 5 departments named Project Alpha, Project Beta, Project Delta, Project Gamma, and Project Epsilon. The projects table joins the employees and departments and the data was generated using the method generateProjectData of the Lab3 class.

## 2. Data Cleaning

The removeNullValues method of the Lab3 class above will drop null values from the dataframe.

## 3. Data Transformation & Feature Engineering

The plotData method of the Lab3 class above will modify the dataframe by adding a column for start_year, which is extracted from the start_date column's year.

## 4. Scaling

No scaling was appropriate.

## 5. Visualization 1: Average Salary by Position and Start Year

Please see the following cell for plotting the average salary by position and start year.

In [ ]:
lab3.plotFirstVisualization(employeeDf)

## 6. Visualization 2: Distribution of Projects Per Employee

Please see the following cell for plotting number of projects per employee. 

A new pair of tables were created - departments and projects. As above, departments was manually created to contain 5 departments. The projects table was generated using the generateProjectData method of the Lab3 class. The data for employees and projects was merged, with code removing rows where the employee start date was after the project start date. There are only three projects that weren't filtered out. Then the data is plotted below - one employee had one project, and another employee had 2 projects.

In [ ]:
projectDf = lab3.loadProjectDataToDataframe()
mergedEmployeesAndProjectsDf = lab3.mergeAndCorrectData(employeeDf, projectDf)

lab3.plotSecondVisualization(mergedEmployeesAndProjectsDf)

## 7. Insights and Conclusions

The year 2024 seems to have shown the highest salaries. The Backend Developers and QA Engineers appear to have high salaries in general. 

Because the data was generated randomly for the projects by employee, it wasn't ideal. The generated start dates of the projects were too often before the start date of the employee, which is invalid data, and was removed. This meant only 3 employees had "realistic" project data, which made for a not-very-exciting visualization of number of projects per employee. In a real-world situation this would likely not occur.